[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'casa-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Group-1002:before {
  content: "\e900";
}
.icon-Group-1001:before {
  content: "\e901";
}
.icon-uniE902:before {
  content: "\e902";
}
.icon-uniE903:before {
  content: "\e903";
}
.icon-Group-999:before {
  content: "\e904";
}
.icon-Group-998:before {
  content: "\e905";
}
.icon-Group-996:before {
  content: "\e906";
}
.icon-Group-10:before {
  content: "\e907";
}
.icon-Group-994:before {
  content: "\e908";
}
.icon-Group-993:before {
  content: "\e909";
}
.icon-Group-988:before {
  content: "\e90a";
}
.icon-uniE90B:before {
  content: "\e90b";
}
.icon-uniE90C:before {
  content: "\e90c";
}
.icon-uniE90D:before {
  content: "\e90d";
}
.icon-uniE90E:before {
  content: "\e90e";
}
.icon-uniE90F:before {
  content: "\e90f";
}
.icon-uniE910:before {
  content: "\e910";
}
.icon-uniE911:before {
  content: "\e911";
}
.icon-uniE912:before {
  content: "\e912";
}
.icon-uniE913:before {
  content: "\e913";
}
.icon-Group-985:before {
  content: "\e914";
}
.icon-Group-984:before {
  content: "\e915";
}
.icon-Group-983:before {
  content: "\e916";
}
.icon-Group-982:before {
  content: "\e917";
}
.icon-Group-981:before {
  content: "\e918";
}
.icon-Group-980:before {
  content: "\e919";
}
.icon-Group-979:before {
  content: "\e91a";
}
.icon-Group-978:before {
  content: "\e91b";
}
.icon-Group-977:before {
  content: "\e91c";
}
.icon-Group-976:before {
  content: "\e91d";
}
.icon-Group-975:before {
  content: "\e91e";
}
.icon-Group-974:before {
  content: "\e91f";
}
.icon-Group-973:before {
  content: "\e920";
}
.icon-uniE921:before {
  content: "\e921";
}
.icon-uniE922:before {
  content: "\e922";
}
.icon-uniE923:before {
  content: "\e923";
}
.icon-Group-971:before {
  content: "\e924";
}
.icon-Group-970:before {
  content: "\e925";
}
.icon-Group-969:before {
  content: "\e926";
}
.icon-Group-968:before {
  content: "\e927";
}
.icon-Group-967:before {
  content: "\e928";
}
.icon-Group-966:before {
  content: "\e929";
}
.icon-Group-965:before {
  content: "\e92a";
}
.icon-Group-964:before {
  content: "\e92b";
}
.icon-Group-963:before {
  content: "\e92c";
}
.icon-Group-9:before {
  content: "\e92d";
}
.icon-Group-8:before {
  content: "\e92e";
}
.icon-Group-6:before {
  content: "\e92f";
}
.icon-Group-7:before {
  content: "\e930";
}
.icon-feedback:before {
  content: "\e931";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-discount:before {
  content: "\e932";
}
.icon-wallet:before {
  content: "\e933";
}